/* Home */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #3a2f7f;
}
.home {
  text-align: center;
  margin-top: 300px;
}

.home-heading {
  text-align: center;
  color: white;
  margin: 10px;
  font-weight: bolder;
}

.home-bt {
  color: white;
  font-weight: lighter;
  background-color: rgb(82, 255, 47);
  width: 200px;
  height: 40px;
  border-radius: 100px;
  cursor: pointer;
}
/* quiz */
.question {
  background-color: #f8f8f8;
  border-left: 5px solid rgb(159, 159, 245);
  width: 80%;
  height: 450px;
  margin: 3rem auto 0 auto;
  padding: 1.5rem 2rem;
  padding: 10px;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 5rem;
  text-align: center;
  font-weight: lighter;
}

.option-container {
  display: inline-block;
  width: 50%;
}

.option {
  background-color: #1da1f2;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  margin: 1.5rem auto;
  padding: 10px;
  transition: 0.3s linear all;
  text-align: center;
  width: 90%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 0 auto 1.5rem auto;
  padding: 2rem;
  width: 80%;
}

.button-container button {
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  padding: 0.5rem 1.5rem;
}

.previous {
  background-color: #3d7eaa;
}

.next {
  background-color: green;
}

.quit {
  background-color: red;
}

/* result */
.result {
  text-align: center;
}

h1 {
  color: green;
}
.score {
  color: blue;
}
.score-section {
  background-color: #f8f8f8;
  border-left: 5px solid rgb(134, 134, 243);
  width: 60%;
  height: 350px;
  margin: 1.5rem auto 0 auto;
  padding: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 0rem;
}

.details {
  text-align: left;
}

.buttons {
  margin: 30px;
}

.play {
  border-color: rgb(118, 118, 214);
  color: rgb(118, 118, 214);
  margin-right: 30px;
  width: 10%;
  padding: 10px;
}

.home-result {
  border-color: green;
  color: green;
  width: 10%;
  padding: 10px;
}
#score-text {
  margin-bottom: 20px;
  padding: 10px;
}
